/* CSS for portfolio */

@font-face{
	font-family:"pill";
	src: url('../fonts/Pill-Gothic-600mg-Semibd.woff') format("truetype");
}

body{
  	font-family:"pill",arial, sans-serif;
	background: url('../imgs/bakgrownd_sprd.png');
	background-repeat:no-repeat;
	background-size:cover;
}

.modal{
	font-family:arial,sans-serif;
}

#gallery img:hover{
	border:2px solid orange;
}

#gallery img:active{
	opacity:0.5;
}

#email{
	color:white;
	font-style:italic;
}

#email a{
	color:lightblue;
	text-decoration:underline;
}

* ul{
	list-style-image: url('../imgs/arrow_blt.png');
}

#education, #tools{
	background: url('../imgs/bakgrownd_clr.png');
	background-repeat:no-repeat;
	background-size:cover;
}

#liteblue{
	color:lightblue;
}

.grey{
	background-color:grey;
	color:white;
}

nav{
	margin-bottom:15px;
	background-color:#314455;
}

.line{
	background-color:#ff8200;
	height:2px;
}

.altline{
	border-bottom:2px solid #ff8200;
	padding-bottom:5px;
}

img.respond{
	width:100%;
	max-width:500px;
	height:auto;
}

figcaption{
	color:white;
	font-style:italic;
	font-size:0.75em;
}

#title{
	font-family:arial black;
}

.orange{
	border-top:2px solid #ff8200;
	border-bottom:2px solid #ff8200;
}

.exerpt{
	font-family:arial, sans-serif;
}

.box_border{
	background-image: linear-gradient(#314455,#6b848e 20%,#314455);
	Position:relative;
	border-top:20px solid #314455;
	border-bottom:20px solid #314455;
	color:white;
}

.box_border:after{
	border-top:2px solid #ff8200;
	border-bottom:2px solid #ff8200;
  	content: "";
  	display: block;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	right: 0px;
  	bottom: 0px;
}

.red1{
	border-top:15px solid #c96567;
	border-left:15px solid #c96567;
	border-right:15px solid #c96567;
	border-radius:30px 30px 15px 15px;
}

.red2{
	border-bottom:15px solid #c96567;
	border-left:15px solid #c96567;
	border-right:15px solid #c96567;
	border-radius:30px 30px 15px 15px;
}

#social{
	color:white;
}

footer{
	background-color:#314455;
}

footer .copyright{
	color:white;
	font-size:12px;
}

footer a{
	color:white;
}

footer a:hover{
	color:#ff8200;
}

.hite{
	min-height:500px;
}/* <-- FOR TESTING ONLY! */

@media (min-width: 576px){
	#title p.name{
		font-size:2.0em;
	}
}

@media (min-width: 768px){
	#title p.name{
		font-size:2.5em;
	}
}

@media (max-width: 576px){
	#education ul li{
		font-size:0.85em;
	}
}

@media (max-width: 576px){
	.altline{
		border:0 solid black;
	}
}